
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daraz-header {
    background-color: orangered;
    color: #fff;
    padding: 10px 0;
}

.logo img {
    font-size: 24px;
    text-decoration: none;
    width: 120px;
    height: 48px;
}

.main-menu ul {
    list-style: none;
    display: flex;
}

.main-menu ul li {
    margin-right: 20px;
}

.main-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
/* Style the navigation container */
.navigation {
    text-align: center;
    margin-top: 20px;
}

/* Style the navigation buttons */
.prev-btn,
.next-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

/* Hover styles for navigation buttons */
.prev-btn:hover,
.next-btn:hover {
    background-color: #2980b9;
}
   

/* Style the main navigation */
.dropdown-menu ul {
    list-style: none;
    background-color: #2ecc71;
}

.dropdown-menu ul li {
    position: relative;
    float: left;
}

.dropdown-menu ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.dropdown-menu ul li:hover {
    background-color: #27ae60;
}

/* Style the submenu */
.dropdown-menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2ecc71;
    z-index: 1000;
}

.dropdown-menu ul ul li {
    float: none;
    width: 200px; /* Adjust the width of the submenu */
}

.dropdown-menu ul li:hover > ul {
    display: block;
}

.dropdown-menu ul ul li a {
    padding: 10px 20px;
}


/* Style the banner slider container */
.banner-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Style the individual slides */
.slide {
    display: none;
}

/* Ensure the first slide is visible by default */
.slide:first-child {
    display: block;
}

/* Style the images within the slides */
.slide img {
    width: 100%;
    height: auto;
}

/* Style navigation buttons if needed */
